@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
	font-family: 'Roboto', sans-serif;
}

.caption-content{
	/*margin: 0;*/
	margin-top: -400px;
	padding-bottom: 50px;
	/*vertical-align: center*/
	position: relative;
}

h2{
		font-size: 45px;
		text-shadow: 1px 1px #000
}
h3{
		font-size: 40px;
		text-shadow: 1px 1px #000
}

#rocksbox{
	margin-top: 15px;
	height:70px;

}
#go-pro{
	height:150px;
}